body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
}

/* Intro Section */
#intro {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#intro p {
  text-align: left;
  font-size: 2.5vh;
  width: 90vw;
}

#intro h1 {
  margin: 0;
  padding-top: 5%;
  font-family: "Lobster", cursive;
  font-size: 5vh;
}

#intro a {
  color: black;
}

.profilePic {
  width: 150px;
  padding-top: 2.5%;
}

#downarrow {
  color: black;
  padding-top: 25px;
  text-decoration: none;
}

/* Projects */
#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  scroll-behavior: smooth;
}

.contentList {
  height: 33.33vh;
  position: relative;
  width: 100%;
  color: white;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contentList:hover {
  opacity: 0.9;
}

.contentList h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  padding: 10px;
  font-family: "Lobster", cursive;
}

.contentList #tech {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 300;
  padding: 10px;
}

#item1 {
  background-color: #aa361a;
}

#item1 button,
#item2 button,
#item3 button,
#item4 button {
  margin: 10px;
}

#item2 {
  background-color: #f27242;
}

#item3 {
  background-color: #ffb200;
}

#item4 {
  background-color: #78c848;
}

#item5 {
  background-color: #325292;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item5 p {
  margin: 0;
  padding: 10px;
  color: white;
}

#item6 {
  background-color: #3d2564;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item6 p {
  font-size: 2.5vh;
}

#item6 a {
  color: white;
  text-decoration: none;
}

button {
  background-color: transparent;
  color: white;
  border: none;
}

#item1 button,
#item2 button,
#item3 button,
#item4 button {
  border: 2px solid white;
  width: 100px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

button a i {
  color: white;
}

/* Footer / Social Links */
.links {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 15vh;
  background-color: white;
  width: 100vw;
}

.linksContainer {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
}
.links button i {
  color: black;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  #intro p {
    width: 60vw;
  }

  .contentList {
    width: 50%;
  }

  .links {
    width: 60vw;
  }

  b {
    font-weight: 700;
  }
}
