body,
html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  scroll-behavior: smooth;
}

/* Intro Section */
#intro {
  height: 100vh;
  text-align: center;
  padding-top: 1%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#intro p {
  text-align: left;
  font-size: 3vh;
  width: 90vw;
}

#intro h1 {
  margin: 0;
  padding-top: 5%;
  font-family: 'Lobster', cursive;
  font-size: 3vh;
}

#intro a {
  color: black;
}

.profilePic {
  width: 150px;
  padding-top: 2.5%;
}

#downarrow {
  color: black;
  padding-top: 25px;
  text-decoration: none;
}

/* Projects */
#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  scroll-behavior: smooth;
}

.contentList {
  height: 33.33vh;
  position: relative;
  width: 100%;
  color: white;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contentList:hover {
opacity: .9;
}

.contentList h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  padding: 10px;
  font-family: 'Lobster', cursive;
}

.contentList #tech {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 300;
  padding: 10px;
}

#item1 {
  background-color: #AA361A;
}

#item1 img {
  width: 150px;
}

#item2 {
  background-color: #F27242;
}

#item3 {
  background-color: #FFB200;
}

#item4 {
  background-color: #78C848;
}

#item5 {
  background-color: #325292;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item5 p {
  margin: 0;
  padding: 10px;;
  color: white;
}

#item5 button {
  background-color: transparent;
  border: none;
}

#item5 i {
  color: white;
}

#item6 {
  background-color: #3D2564;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item6 p {
  font-size: 1.5rem;
}

/* Footer / Social Links */
.links {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 15vh;
  background-color: white;
  color: white;
  width: 100vw;
}

.links a {
  color: black;
  text-decoration: none;
}

.links a:hover {
  opacity: .7;
}

.links #logo {
  font-size: 24px;
}

/* Misc */
a {
  text-decoration: underline;
  color: white;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  #intro p {
    width: 60vw;
  }

  .contentList {
    width: 50%;
  }

  .links {
    width: 60vw;
  }

  b {
    font-weight: 700;
  }
}
