body,
html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Intro Section */
#intro {
  height: 100vh;
  text-align: center;
  padding-top: 2.5%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#intro p {
  text-align: left;
  font-size: 3vh;
  width: 90vw;
}

#intro h1 {
  margin: 0;
  padding-top: 5%;
}

.profilePic {
  width: 200px;
  padding-top: 2.5%;
}

#downarrow {
  color: black;
  padding-top: 25px;
  text-decoration: none;
}

/* Projects */
#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contentList {
  height: 33.33vh;
  position: relative;
  width: 100%;
  color: white;
}

.contentList:hover {
opacity: .9;
}

.contentList h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  padding: 10px;
}

.contentList #tech {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 300;
  padding: 10px;
}

#item1 {
  background-color: #AA361A;
}

#item2 {
  background-color: #F27242;
}

#item3 {
  background-color: #FFB200;
}

#item4 {
  background-color: #78C848;
}

#item5 {
  background-color: #325292;
}

#item6 {
  background-color: #3D2564;
  color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item6 p {
  margin: 0;
  padding: 0;
}

#item7 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#item7 p {
  font-size: 3vh;
  color: black;
}

/* Footer / Social Links */
.links {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 15vh;
  background-color: #1B1B1B;
  color: white;
  width: 100vw;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:visited {
  color: white;
}

.links #logo {
  font-size: 24px;
}

/* Misc */
a {
  text-decoration: underline;
  color: black;
}

