body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#logo {
  font-size: 2em;
  margin: 10px 10px;
  top: 0;
  background-color: transparent;
}

/* About me */
.about {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.25em;
  /* background-image: url("img/white.jpg"); */
}

#intro {
  width: 40%;
  margin-top: 2.5%;
}

.profilePic {
  width: 200px;
  border-radius: 50%;
}

#intro p {
  text-align: left;
  color: black;
}

#ctaButton {

}

#downarrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  color: black;
}

/* Projects */
.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
}

.projects {
  width: 50%;
  height: 50vh;
  text-align: center;
}

/* Resume / Contact form container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
}

/* Resume download */
#resume {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50%;
  height: 50vh;
  background-color: red;
}

/* Contact form */
#formContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 50vh;
  background-color: orange;
}

form {
  text-align: left;
}

form input,
form textarea {
  margin: 2px;
}

#formButton {
  margin-top: 10px;
}

/* Footer / Social links */
.links {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 20vh;
  margin: 0 20%;
}

/* Misc... */
button {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
}

/* Tools */
.tools {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 15vh;
}











/* Media Queries */
@media (max-width: 1000px) {

  #intro {
    width: 80%;
  }

  .projects {
    width: 100%;
    height: 40vh;
  }

/* Resume download */
#resume {
  width: 100%;
}

/* Contact form */
#formContainer {
  width: 100%;
}

.links {
  height: 15vh;
  margin: 0 10%;
}